<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @author.full_name %>
</p>
<%= link_to 'Photos', author_photos_path(@author) %> |
<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
